.header {
    @include mobile-section-setting;
    //opacity: 0;
    position: sticky;
    top: -100px;
    background: white;
    z-index: 5;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.header--sticky {
    //opacity: 1;
    top: 0;
}

.header--invisible {
    visibility: hidden;
}

.header__open {
    cursor: pointer;
    display: inline-block;
    float: right;
}

.header__items {
    @include mobile-max-width;
    padding-top: 2rem;
    line-height: 100%;
    position: relative;
    vertical-align: middle;
}

.header__items::after {
    content: "";
    clear: both;
    display: table;
}

.header__logo {
    display: inline-block;
    float: left;
}