.header {
    @include mobile-section-setting;
}

.header--invisible {
    visibility: hidden;
}

.header__open {
    cursor: pointer;
    display: inline-block;
    float: right;
}

.header__items {
    max-width: $mobileWidth;
    margin: auto;
    padding-top: 2rem;
    line-height: 100%;
    position: relative;
    vertical-align: middle;
}

.header__items::after {
    content: "";
    clear: both;
    display: table;
}

.header__logo {
    display: inline-block;
    float: left;
}